@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Montserrat:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: 'DM Sans', sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/*-----------------------Constant---------------------*/
/*-----------------------Blocks------------------------*/
body {
  color: #000;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(3, 56, 244, 0.71)), to(rgba(224, 37, 206, 0.79)));
  background: linear-gradient(180deg, rgba(3, 56, 244, 0.71) 0%, rgba(224, 37, 206, 0.79) 100%);
  padding: 15px 0px;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px;
}

.main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  background-color: rgba(196, 196, 196, 0.3);
  padding: 15px;
  border-radius: 10px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
}

.sidebar__container {
  max-width: 450px;
  margin: 0 auto;
  padding: 0 10px;
}

.content__container {
  max-width: 450px;
  margin: 0 auto;
  padding: 0 10px;
}

/*-------------------------------Header--------------------*/
.sidebar__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.sidebar__img {
  width: 150px;
  border-radius: 50%;
}

.sidebar__text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.sidebar__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 43px;
  color: #FFFFFF;
}

.sidebar__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 18px;
  color: #CECACA;
}

/*-----------------------------------Content----------------------*/
.sidebar__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 35px;
  gap: 15px;
}

.content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  padding: 10px 0 10px 25px;
  border-radius: 10px;
  background-color: rgba(196, 196, 196, 0.35);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__img {
  width: 25px;
  height: 25px;
}

.content__item {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  color: #FFFFFF;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.content__item:hover {
  color: #4a32e8;
}

/*-------------------Knowledge-----------------------*/
.knowledge {
  margin-top: 35px;
  background-color: rgba(196, 196, 196, 0.35);
  border-radius: 10px;
}

.knowledge-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 0 15px 25px;
}

.knowledge-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 129%;
  letter-spacing: 2.5px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.knowledge__link {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 129%;
  letter-spacing: 1.5px;
  color: #FAFAFA;
  position: relative;
}

.knowledge__link::before {
  content: '';
  position: absolute;
  top: 7px;
  left: -17px;
  background-color: #fff;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

/*-------------------Languages-----------------------*/
.knowledge__link_without-before::before {
  display: none;
}

/*--------------------Social-----------------------*/
.social__list a {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 129%;
  letter-spacing: 1.5px;
  color: #FAFAFA;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.social__list a:hover {
  color: #4a32e8;
}

/*-------------------------Content-----------------*/
.info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.info-block:not(:last-child) {
  margin-bottom: 35px;
}

.info-block__general-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-block__black-title {
  background-color: #545454;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 460px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info-block-line {
  height: 2px;
  width: 100%;
  background-color: #545454;
}

.info-block__headline {
  padding: 5px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 25px;
  line-height: 129%;
  color: #FFFFFF;
}

.info-block__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-block__title {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 129%;
  color: #343434;
}

.info-block__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #343434;
}

.info-block__time-text {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 200%;
  color: #73808D;
}

.info-block__subtitle_smaller-line {
  margin-top: 5px;
  line-height: 120%;
}

.skills-block__link {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 129%;
  color: #545454;
}

.skills-block__link:not(:last-child) {
  margin-bottom: 10px;
}

/*------------------------Media--------------------------*/
@media (max-width: 956px) {
  .main__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
}

@media (max-width: 545px) {
  .content__item {
    font-size: 18px;
  }
  .sidebar__img {
    width: 110px;
  }
  .sidebar__title {
    font-size: 28px;
  }
  .skills-block__link {
    font-size: 16px;
  }
  .content__container {
    max-width: 330px;
  }
}

@media (max-width: 430px) {
  .content__container {
    max-width: 290px;
  }
  .info-block-line {
    display: none;
  }
  .info-block__subtitle {
    font-size: 15px;
  }
  .sidebar__container {
    max-width: 290px;
  }
  .sidebar__content-block {
    gap: 20px;
  }
  .sidebar__content-block a {
    font-size: 15px;
  }
  .sidebar__subtitle {
    font-size: 15px;
  }
  .sidebar__title {
    font-size: 25px;
    line-height: 30px;
  }
}

@media (max-width: 375px) {
  .content__container {
    max-width: 230px;
  }
  .sidebar__avatar {
    display: none;
  }
  .sidebar__container {
    max-width: 230px;
  }
  .content-block {
    padding-left: 10px;
  }
  .content-block a {
    font-size: 12px;
  }
}
